{"openapi":"3.0.1","info":{"title":"API Reference","version":"5.5.2"},"servers":[{"url":"https://iot.bluerange.io"}],"paths":{"/api/v1/iot/updates/package":{"get":{"tags":["iot_updates"],"summary":"download an IoT update package.","operationId":"getIotUpdatePackage","parameters":[{"name":"url","in":"query","description":"of the IoT update package.","schema":{"type":"string"}}],"responses":{"default":{"description":"IoT update package binary content.","content":{"application/zip":{"schema":{"type":"string","format":"binary"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/devices/{deviceUuid}/diagnostics":{"get":{"tags":["devices"],"operationId":"getDeviceDiagnostic","parameters":[{"name":"deviceUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"text/plain":{}}}}},"post":{"tags":["devices"],"operationId":"createDeviceDiagnostic","parameters":[{"name":"deviceUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"text/plain":{"schema":{"type":"object"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Resource"}}}}}},"delete":{"tags":["devices"],"operationId":"deleteDeviceDiagnostics","parameters":[{"name":"deviceUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/api/v1/devices/{deviceUuid}/operations/identify":{"post":{"tags":["devices"],"summary":"identifies a device by dragging attention e.g.","description":"attracting a user by blinking or flashing physically.\n\nThe server performs access checks and routes the identification operation to the target network the device is\npresent in. The operation takes immediate effect or none at all if the target device can not be located or is\nout of range.","operationId":"identifyDevice","parameters":[{"name":"deviceUuid","in":"path","description":"of target device.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentifyDeviceQuery"}}}},"responses":{"default":{"description":"the identify does not really have a result so that the response provides mostly diagnostic information as\na debugging aid.","content":{"application/json":{"schema":{"type":"object","properties":{"done":{"type":"boolean"},"cancelled":{"type":"boolean"},"completedExceptionally":{"type":"boolean"},"numberOfDependents":{"type":"integer","format":"int32"}}}}}}}}},"/api/v1/content/apps/{appUuid}/ratings":{"get":{"tags":["apps_appUuid_ratings"],"summary":"Returns ratings for application.","operationId":"getAppRatings","parameters":[{"name":"appUuid","in":"path","description":"Application uuid for which list of ratings will be returned.","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"query","description":"optional versionUuid. If presented, average rating and ratings count for this version will be returned in response too.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"optional limit of the returned items, default unlimited.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"optional offset of returned items, default from first.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"optional sort order of the items, default unsorted.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","description":"`true` if interested for actual items, this is default.","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","description":"`true` if interested for unpaged count, default is `false`.","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidWrapper"}}}}}}},"/api/v1/content/apps":{"get":{"tags":["apps"],"summary":"Returns Appstore applications.","operationId":"getApps","parameters":[{"name":"limit","in":"query","description":"optional limit of the returned items, default unlimited.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"optional offset of returned items, default from first.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"optional sort order of the items, default unsorted.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","description":"`true` if interested for actual items, this is default.","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","description":"`true` if interested for unpaged count, default is `false`.","schema":{"type":"boolean","default":false}},{"name":"locale","in":"query","description":"optional locale. If omitted, all translations will be returned.","schema":{"type":"string"}},{"name":"archived","in":"query","description":"optional archived. Max count of archived versions in response.","schema":{"type":"integer","format":"int32","default":0}}],"responses":{"default":{"description":"AppWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppWrapper"}}}}}},"post":{"tags":["apps"],"summary":"Takes native app file from request and creates new Appstore Application optional parameters for the request are:n - changelog: to provide a changelog in form of a text filen - releaseState: the release state the app should be in after creation (development, review, release).","operationId":"createAndSaveApp","parameters":[{"name":"releaseStatus","in":"query","description":"optional value to set Release Status. Valid arguments(release, review, development). Will set development by default.","schema":{"type":"string","default":"DEVELOPMENT"}},{"name":"archiveFormerVersion","in":"query","description":"If it is set to true, the former version in same releaseState will be archived. Otherwise former version will be deleted.","schema":{"type":"boolean","default":true}},{"name":"environmentUuid","in":"query","description":"Optional parameter that allows to set the development environment of uploaded app.","schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/AppContent"}}},"required":true},"responses":{"default":{"description":"AppWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppWrapper"}}}}}}},"/api/v1/content/apps/ios/systemApps":{"get":{"tags":["apps"],"operationId":"getIosSystemApps","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IosSystemAppItemWrapper"}}}}}}},"/api/v1/content/apps/{uuid}":{"get":{"tags":["apps"],"summary":"Returns Appstore application with given UUID.","operationId":"getApp","parameters":[{"name":"uuid","in":"path","description":"UUID of the App.","required":true,"schema":{"type":"string"}},{"name":"archived","in":"query","description":"optional archived. Max count of archived versions in response.","schema":{"type":"integer","format":"int32"}}],"responses":{"default":{"description":"AppWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppWrapper"}}}}}},"put":{"tags":["apps"],"summary":"Updates Appstore application with given UUID.","operationId":"updateApp","parameters":[{"name":"uuid","in":"path","description":"UUID of the App to update.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/App"}}}},"responses":{"default":{"description":"AppWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppWrapper"}}}}}},"delete":{"tags":["apps"],"summary":"Deletes Appstore application with given UUID.","operationId":"deleteApp","parameters":[{"name":"uuid","in":"path","description":"UUID of the App to delete.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"StringWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/histories":{"get":{"tags":["apps"],"summary":"Returns app histories for a specific app from the app request process.","operationId":"getAppHistories","parameters":[{"name":"appUuid","in":"path","description":"Application UUID.","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"AppHistoryWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppHistoryWrapper"}}}}}}},"/api/v1/content/apps/baseInfo":{"get":{"tags":["apps"],"operationId":"getAppsBaseInfo","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32","default":0}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"locale","in":"query","schema":{"type":"string"}},{"name":"versionNameLocaleFallback","in":"query","schema":{"type":"string"}},{"name":"extend","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"countryCode","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppBaseInfoWrapper"}}}}}}},"/api/v1/content/apps/releaseStatuses":{"get":{"tags":["apps"],"summary":"Returns available release statuses.","operationId":"getReleaseStatuses","responses":{"default":{"description":"ReleaseStatusWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseStatusWrapper"}}}}}}},"/api/v1/content/apps/fromPublicAppstore/{appstoreType}/{id}":{"post":{"tags":["apps"],"operationId":"getAppFromPublicAppstore","parameters":[{"name":"appstoreType","in":"path","required":true,"schema":{"type":"string","enum":["GOOGLE","APPLE","MICROSOFT"]}},{"name":"id","in":"path","description":"app ID in external appstore.","required":true,"schema":{"type":"string"}},{"name":"country","in":"query","description":"country code (relevant only for iTunes API).","schema":{"type":"string","default":"us"}}],"responses":{"default":{"description":"AppWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppWrapper"}}}}}}},"/api/v1/content/apps/fromFile/{resourceUuid}":{"post":{"tags":["apps"],"summary":"Creates new Appstore application from uploaded file.","operationId":"getAppFromFile","parameters":[{"name":"resourceUuid","in":"path","description":"UUID of the file from which to get the application.","required":true,"schema":{"type":"string"}},{"name":"formerVersionUuid","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"AppWrapper Contains new not persisted application.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppWrapper"}}}}}}},"/api/v1/content/apps/fromFile":{"post":{"tags":["apps"],"summary":"Takes native app file from request and creates new Appstore Application optional parameters for the request are:n - changelog: to provide a changelog in form of a text filen - releaseState: the release state the app should be in after creation (development, review, release).","operationId":"createAppFromFile","parameters":[{"name":"releaseStatus","in":"query","description":"optional value to set Release Status. Valid arguments(release, review, development). Will set development by default.","schema":{"type":"string","default":"DEVELOPMENT"}},{"name":"archiveFormerVersion","in":"query","description":"If it is set to true, the former version in same releaseState will be archived. Otherwise former version will be deleted.","schema":{"type":"boolean","default":true}},{"name":"environmentUuid","in":"query","description":"Optional parameter that allows to set the development environment of uploaded app.","schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/AppContent"}}},"required":true},"responses":{"default":{"description":"AppWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppWrapper"}}}}}}},"/api/v1/content/apps/versions":{"get":{"tags":["apps"],"summary":"Returns versions from Appstore.","operationId":"getAppVersions","parameters":[{"name":"limit","in":"query","description":"optional limit of the returned items, default unlimited.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"optional offset of returned items, default from first.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"optional sort order of the items, default unsorted.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","description":"`true` if interested for actual items, this is default.","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","description":"`true` if interested for unpaged count, default is `false`.","schema":{"type":"boolean","default":false}},{"name":"locale","in":"query","description":"optional locale. If omitted, all translations will be returned.","schema":{"type":"string"}}],"responses":{"default":{"description":"VersionWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionWrapper"}}}}}}},"/api/v1/content/apps/ios/manifest":{"get":{"tags":["apps"],"summary":"Redirects response to itms-service and creates p.list for installing application on iOS.","operationId":"getIosManifest","parameters":[{"name":"versionUuid","in":"query","schema":{"type":"string"}},{"name":"itmsSessionId","in":"query","description":"session ID for request from itms-service.","schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"Response","content":{"application/json":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/content/apps/macos/manifest":{"get":{"tags":["apps"],"summary":"Returns a macOS manifest .plist file for app installation.","operationId":"getMacOSManifest","parameters":[{"name":"versionUuid","in":"query","description":"UUIDs of versions to install on iOS.","schema":{"type":"string"}},{"name":"itmsSessionId","in":"query","description":"session ID for request from itms-service.","schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"Response","content":{"application/json":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/content/apps/downloads":{"get":{"tags":["apps"],"operationId":"getDownloads","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppDownloadWrapper"}}}}}}},"/api/v1/content/apps/countryCodes":{"get":{"tags":["apps"],"summary":"Returns available country codes.","operationId":"getCountryCodes","parameters":[{"name":"locale","in":"query","description":"optional locale. If omitted, or if no translation for provided locale exists, English locale (en_En) will be used.","schema":{"type":"string"}},{"name":"sortByValues","in":"query","description":"if `true`, then returned map is sorted by country name (value); by default it is sorted by country code (key).","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"StringStringMapWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringStringMapWrapper"}}}}}}},"/api/v1/content/apps/histories":{"get":{"tags":["apps"],"summary":"Returns app histories from the app request process.","operationId":"findAppHistories","parameters":[{"name":"limit","in":"query","description":"optional limit of the returned items, default unlimited.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"optional offset of returned items, default from first.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"optional sort order of the items, default unsorted.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","description":"`true` if interested for actual items, this is default.","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","description":"`true` if interested for unpaged count, default is `false`.","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"AppHistoryWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppHistoryWrapper"}}}}}}},"/api/v1/content/apps/histories/{uuid}":{"get":{"tags":["apps"],"summary":"Returns app history with given UUID.","operationId":"getAppHistory","parameters":[{"name":"uuid","in":"path","description":"UUID of the app history.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"AppHistoryWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppHistoryWrapper"}}}}}}},"/api/v1/content/apps/requests":{"get":{"tags":["apps"],"operationId":"getAppRequestBaseInfo","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppRequestBaseInfoWrapper"}}}}}},"post":{"tags":["apps"],"operationId":"saveAppRequest","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppRequest"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/permissions/{releaseStatus}":{"get":{"tags":["apps"],"operationId":"getAppPermissionInfoForReleaseStatus","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseStatus","in":"path","required":true,"schema":{"type":"string","enum":["RELEASE","REVIEW","DEVELOPMENT","ARCHIVE"]}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppPermissionInfoWrapper"}}}}}}},"/api/v1/content/apps/defaultAppPermissions":{"get":{"tags":["apps"],"summary":"Returns default AppPermissions, which can be used to initialize new App objects.","operationId":"getDefaultAppPermissions","responses":{"default":{"description":"AppPermissionMapWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppPermissionMapWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/deviceInstallations":{"get":{"tags":["apps"],"summary":"Returns basic informations for devices on which a specific app is installed.","operationId":"getDevicesWithAppInstalled","parameters":[{"name":"appUuid","in":"path","description":"Application UUID.","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"DeviceWithInstalledAppBaseInfoWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceWithInstalledAppBaseInfoWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/targets/{targetUuid}":{"get":{"tags":["apps_appUuid_targets"],"operationId":"getTarget","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"targetUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetWrapper"}}}}}},"put":{"tags":["apps_appUuid_targets"],"operationId":"changeTarget","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"targetUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Target"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetWrapper"}}}}}},"delete":{"tags":["apps_appUuid_targets"],"operationId":"deleteTarget","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"targetUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/targets":{"get":{"tags":["apps_appUuid_targets"],"operationId":"getTargets","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetWrapper"}}}}}},"post":{"tags":["apps_appUuid_targets"],"operationId":"createTarget","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Target"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/targets/baseInfo":{"get":{"tags":["apps_appUuid_targets"],"operationId":"getTargetBaseInfo","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetBaseInfoWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/targets/{targetUuid}/executions":{"post":{"tags":["apps_appUuid_targets"],"operationId":"performTarget","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"targetUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TargetExecution"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetExecutionWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions/{versionUuid}":{"get":{"tags":["apps_appUuid_versions"],"summary":"Returns Version with given UUID.","description":"Having the {appUuid} as part of the Path is for backwards compatibility.","operationId":"getVersion","parameters":[{"name":"appUuid","in":"path","description":"Application UUID.","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionWrapper"}}}}}},"put":{"tags":["apps_appUuid_versions"],"summary":"Updates Version with given UUID.","operationId":"updateVersion","parameters":[{"name":"appUuid","in":"path","description":"Application UUID.","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","description":"UUID of the Version to update.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Version"}}}},"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionWrapper"}}}}}},"delete":{"tags":["apps_appUuid_versions"],"summary":"Deletes Version with given UUID.","operationId":"deleteVersion","parameters":[{"name":"appUuid","in":"path","description":"UUID the version belongs to.","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","description":"UUID of the Version to delete.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions":{"get":{"tags":["apps_appUuid_versions"],"summary":"Returns versions of application with given UUID.","operationId":"getVersions","parameters":[{"name":"appUuid","in":"path","description":"App uuid for which list of versions will be returned.","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"optional limit of the returned items, default unlimited.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"optional offset of returned items, default from first.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"optional sort order of the items, default unsorted.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","description":"`true` if interested for actual items, this is default.","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","description":"`true` if interested for unpaged count, default is `false`.","schema":{"type":"boolean","default":false}},{"name":"locale","in":"query","description":"optional locale. If omitted, all translations will be returned.","schema":{"type":"string"}}],"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionWrapper"}}}}}},"post":{"tags":["apps_appUuid_versions"],"summary":"Saves the Version with given UUID.","operationId":"createVersion","parameters":[{"name":"appUuid","in":"path","description":"Application UUID.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Version"}}}},"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions/fromFile/{resourceUuid}":{"post":{"tags":["apps_appUuid_versions"],"summary":"Creates new version of application from file with given UUID.","operationId":"getVersionFromFile","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"resourceUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"formerVersionUuid","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions/{versionUuid}/move":{"put":{"tags":["apps_appUuid_versions"],"operationId":"moveVersion","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChangeVersion"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions/{versionUuid}/approve":{"put":{"tags":["apps_appUuid_versions"],"operationId":"approveVersion","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChangeVersion"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions/{versionUuid}/reject":{"put":{"tags":["apps_appUuid_versions"],"operationId":"rejectVersion","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChangeVersion"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions/{versionUuid}/update":{"put":{"tags":["apps_appUuid_versions"],"operationId":"updateVersionInstall","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions/{versionUuid}/binaries/{binaryType}":{"post":{"tags":["apps_appUuid_versions"],"summary":"Adds a new binary for the given binary type to the version.","operationId":"saveVersionBinary","parameters":[{"name":"appUuid","in":"path","description":"the UUID of the app the version belongs to.","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","description":"the UUID of the version to add the binary to.","required":true,"schema":{"type":"string"}},{"name":"binaryType","in":"path","description":"the type of the added binary.","required":true,"schema":{"type":"string","enum":["ORIGINAL_UPLOAD","REPLACED_BY_SIGNING","PUBLISHED_APPLE_APP_STORE"]}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/BinaryContent"}}},"required":true},"responses":{"default":{"description":"VersionWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions/{versionUuid}/histories":{"get":{"tags":["apps_appUuid_versions"],"summary":"Returns app histories for a specific app version from the app request process.","operationId":"getAppVersionHistories","parameters":[{"name":"appUuid","in":"path","description":"Application UUID.","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","description":"Version UUID.","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppHistoryWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions/{versionUuid}/histories/lastOfCurrentWorkflowStep":{"get":{"tags":["apps_appUuid_versions"],"operationId":"getLastReviewAppHistoryForCurrentWorkflowStep","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppHistoryWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions/{versionUuid}/deployments":{"post":{"tags":["apps_appUuid_versions"],"summary":"Creates a new app deployment for the given app version to the user's device(s).","operationId":"createAppDeployment","parameters":[{"name":"appUuid","in":"path","description":"UUID of the app to be deployed.","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","description":"UUID of the version to be deployed.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppDeployment"}}}},"responses":{"default":{"description":"result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppDeploymentWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions/{versionUuid}/ratings/{ratingUuid}":{"get":{"tags":["apps_appUuid_versions_versionUuid_ratings"],"summary":"Returns Rating with given UUID.","operationId":"getRating","parameters":[{"name":"appUuid","in":"path","description":"the version belongs to.","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","description":"the rating belongs to.","required":true,"schema":{"type":"string"}},{"name":"ratingUuid","in":"path","description":"UUID of the Rating.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions/{versionUuid}/ratings":{"get":{"tags":["apps_appUuid_versions_versionUuid_ratings"],"summary":"Returns ratings for concrete version of application.","operationId":"getRatings","parameters":[{"name":"appUuid","in":"path","description":"App UUID.","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","description":"Version UUID.","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"optional limit of the returned items, default unlimited.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"optional offset of returned items, default from first.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"optional sort order of the items, default unsorted.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","description":"`true` if interested for actual items, this is default.","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","description":"`true` if interested for unpaged count, default is `false`.","schema":{"type":"boolean","default":false}},{"name":"locale","in":"query","description":"optional locale. If omitted, all translations will be returned.","schema":{"type":"string"}}],"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions/{versionUuid}/workflow":{"get":{"tags":["apps_appUuid_versions_versionUuid_workflow"],"operationId":"getVersionWorkflow","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewWorkflowBaseInfoWrapper"}}}}}}},"/api/v1/content/apps/{appUuid}/versions/{versionUuid}/workflow/nextStep":{"get":{"tags":["apps_appUuid_versions_versionUuid_workflow"],"operationId":"getNextWorkflowStep","parameters":[{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewWorkflowStepWrapper"}}}}}}},"/api/v1/content/categories":{"get":{"tags":["categories"],"summary":"Returns appstore categories defined for logged user organization.","operationId":"getCategories","parameters":[{"name":"limit","in":"query","description":"optional limit of the returned items, default unlimited.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"optional offset of returned items, default from first.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"optional sort order of the items, default unsorted.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","description":"`true` if interested for actual items, this is default.","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","description":"`true` if interested for unpaged count, default is `false`.","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryWrapper"}}}}}},"post":{"tags":["categories"],"summary":"Creates new appstore category.","operationId":"createCategory","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Category"}}}},"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryWrapper"}}}}}}},"/api/v1/content/categories/{uuid}":{"get":{"tags":["categories"],"summary":"Returns single appstore category by it's UUID.","operationId":"getCategory","parameters":[{"name":"uuid","in":"path","description":"UUID of the Category to get.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryWrapper"}}}}}},"put":{"tags":["categories"],"summary":"Updates appstore category with given UUID.","operationId":"updateCategory","parameters":[{"name":"uuid","in":"path","description":"UUID of the Category to update.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Category"}}}},"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryWrapper"}}}}}},"delete":{"tags":["categories"],"summary":"Deletes appstore category with given UUID.","operationId":"deleteCategory","parameters":[{"name":"uuid","in":"path","description":"UUID of the Category to delete.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringWrapper"}}}}}}},"/api/v1/content/autoDeployments":{"get":{"tags":["appAutoDeployments"],"operationId":"getAppAutoDeployments","parameters":[{"name":"appUuid","in":"query","schema":{"type":"string"}},{"name":"roleUuid","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAutoDeploymentWrapper"}}}}}},"post":{"tags":["appAutoDeployments"],"operationId":"createAppAutoDeployment","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppAutoDeployment"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAutoDeploymentWrapper"}}}}}}},"/api/v1/content/autoDeployments/{appAutoDeploymentUuid}":{"get":{"tags":["appAutoDeployments"],"operationId":"getAppAutoDeployment","parameters":[{"name":"appAutoDeploymentUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAutoDeploymentWrapper"}}}}}},"put":{"tags":["appAutoDeployments"],"operationId":"changeAppAutoDeployment","parameters":[{"name":"appAutoDeploymentUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppAutoDeployment"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAutoDeploymentWrapper"}}}}}},"delete":{"tags":["appAutoDeployments"],"operationId":"deleteAppAutoDeployment","parameters":[{"name":"appAutoDeploymentUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidWrapper"}}}}}}},"/api/v1/system/settings/languages":{"get":{"tags":["languages"],"summary":"Returns all languages for logged user organization.","operationId":"getLanguages","parameters":[{"name":"limit","in":"query","description":"optional limit of the returned items, default unlimited.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"optional offset of returned items, default from first.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"optional sort order of the items, default unsorted.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","description":"`true` if interested for actual items, this is default.","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","description":"`true` if interested for unpaged count, default is `false`.","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LanguageWrapper"}}}}}}},"/api/v1/system/settings/languages/locales":{"get":{"tags":["languages"],"summary":"Returns locales supported by Relution server.","operationId":"getLocales","responses":{"default":{"description":"allowed locales.","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/system/settings/languages/{locale}":{"put":{"tags":["languages"],"summary":"Updates language.","operationId":"saveLanguage","parameters":[{"name":"locale","in":"path","description":"locale of the Language to update.","required":true,"schema":{"type":"string"}},{"name":"templateLocale","in":"query","description":"locale of the Language which translations will be copied over to the new Language. If `null`, then default (empty) translations will be used.","schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Language"}}}},"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LanguageWrapper"}}}}}},"delete":{"tags":["languages"],"summary":"Deletes language.","operationId":"deleteLanguage","parameters":[{"name":"locale","in":"path","description":"locale of the Language to delete.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringWrapper"}}}}}}},"/api/v1/system/settings/languages/createDefault":{"post":{"tags":["languages"],"summary":"Creates default languages for logged user organization (only if no languages are defined yet).","operationId":"createDefaultLanguages","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/v1/content/externalAppstores/{appstoreType}/search":{"get":{"tags":["appstores"],"summary":"Searches applications on external appstore.","operationId":"search","parameters":[{"name":"appstoreType","in":"path","required":true,"schema":{"type":"string","enum":["GOOGLE","APPLE","MICROSOFT"]}},{"name":"term","in":"query","description":"- name of the item, or direct appstore link - mandatory.","schema":{"type":"string"}},{"name":"entity","in":"query","description":"- type of items to search - not mandatory.","schema":{"type":"string","default":"software,iPadSoftware"}},{"name":"limit","in":"query","description":"- max number of items in result - not mandatory.","schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32","default":0}},{"name":"country","in":"query","description":"country code (relevant only for iTunes API).","schema":{"type":"string","default":"us"}},{"name":"locale","in":"query","schema":{"type":"string","default":"en_US"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicAppstoreItemBaseInfoWrapper"}}}}}}},"/api/v1/content/externalAppstores/{appstoreType}/details":{"get":{"tags":["appstores"],"summary":"Returns informations for appstore item with given ID.","operationId":"getAppstoreItemInfo","parameters":[{"name":"appstoreType","in":"path","required":true,"schema":{"type":"string","enum":["GOOGLE","APPLE","MICROSOFT"]}},{"name":"id","in":"query","schema":{"type":"string"}},{"name":"country","in":"query","description":"country code (relevant only for iTunes API).","schema":{"type":"string","default":"us"}},{"name":"locale","in":"query","schema":{"type":"string","default":"en_US"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicAppstoreItemWrapper"}}}}}}},"/api/v1/content/signing/requests":{"get":{"tags":["resignRequests"],"operationId":"getResignRequests","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RelutionAppSigningRequestWrapper"}}}}}},"post":{"tags":["resignRequests"],"operationId":"saveResignRequest","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClientAppSigningRequest"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RelutionAppSigningRequestWrapper"}}}}}}},"/api/v1/content/signing/requests/{uuid}":{"get":{"tags":["resignRequests"],"operationId":"getResignRequest","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RelutionAppSigningRequestWrapper"}}}}}},"delete":{"tags":["resignRequests"],"summary":"Deletes the app signing request with the given UUID.","operationId":"deleteAppSigningRequest","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringWrapper"}}}}}}},"/api/v1/content/signing/requests/{uuid}/logExcerpts":{"post":{"tags":["resignRequests"],"summary":"Upload an error log for an additional task performed during signing, e.g.","description":"creating a push certificate.\nThis endpoint is intended to be used by the signing service only.","operationId":"addLogExcerpt","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Relution-AS-Auth-Token","in":"header","schema":{"type":"string"}},{"name":"X-Relution-AS-Request","in":"header","schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppSigningRequestLogExcerpt"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RelutionAppSigningRequestWrapper"}}}}}}},"/api/v1/content/signing/requests/{uuid}/reportFailure":{"put":{"tags":["resignRequests"],"summary":"Upload an error log for failed app signing attempt. This endpoint is intended to be used by the signing service only.","operationId":"markResignRequestFailed","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Relution-AS-Auth-Token","in":"header","schema":{"type":"string"}},{"name":"X-Relution-AS-Request","in":"header","schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppSigningRequestLogExcerpt"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RelutionAppSigningRequestWrapper"}}}}}}},"/api/v1/content/signing/configurations/{uuid}":{"get":{"tags":["automaticAppSigningConfiguration"],"summary":"Gets the automatic app signing configuration with the provided uuid.","operationId":"getAutomaticAppSigningConfiguration","parameters":[{"name":"uuid","in":"path","description":"the uuid.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"the automatic app signing configuration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomaticAppSigningConfigurationResult"}}}}}},"put":{"tags":["automaticAppSigningConfiguration"],"summary":"Update automatic app signing configuration with the given uuid.","operationId":"updateAutomaticAppSigningConfiguration","parameters":[{"name":"uuid","in":"path","description":"the uuid.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/AutomaticAppSigningConfiguration"}}}},"responses":{"default":{"description":"the saved automatic app signing configuration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomaticAppSigningConfigurationResult"}}}}}},"delete":{"tags":["automaticAppSigningConfiguration"],"summary":"Delete the automatic app signing configuration with the given uuid.","operationId":"deleteAutomaticAppSigningConfiguration","parameters":[{"name":"uuid","in":"path","description":"the uuid.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"deletion result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringWrapper"}}}}}}},"/api/v1/content/signing/configurations":{"get":{"tags":["automaticAppSigningConfiguration"],"summary":"Gets the automatic app signing configurations of the current organization.","operationId":"getAutomaticAppSigningConfigurations","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"the automatic app signing configurations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomaticAppSigningConfigurationResult"}}}}}},"post":{"tags":["automaticAppSigningConfiguration"],"summary":"Creates a new automatic app signing configuration.","operationId":"createAutomaticAppSigningConfiguration","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/AutomaticAppSigningConfiguration"}}}},"responses":{"default":{"description":"the saved automatic app signing configuration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomaticAppSigningConfigurationResult"}}}}}}},"/api/v1/content/provisioningProfiles":{"get":{"tags":["provisioningProfiles"],"operationId":"getProvisioningProfiles","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProvisioningProfileWrapper"}}}}}},"post":{"tags":["provisioningProfiles"],"operationId":"createProvisioningProfile","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProvisioningProfile"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProvisioningProfileWrapper"}}}}}}},"/api/v1/content/provisioningProfiles/{uuid}":{"get":{"tags":["provisioningProfiles"],"operationId":"getProvisioningProfile","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProvisioningProfileWrapper"}}}}}},"put":{"tags":["provisioningProfiles"],"operationId":"updateProvisioningProfile","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProvisioningProfile"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProvisioningProfileWrapper"}}}}}},"delete":{"tags":["provisioningProfiles"],"operationId":"deleteProvisioningProfile","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringWrapper"}}}}}}},"/api/v1/content/targetProviders/{uuid}":{"get":{"tags":["targetProviders"],"operationId":"getTargetProvider","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetProviderWrapper"}}}}}},"put":{"tags":["targetProviders"],"operationId":"changeTargetProvider","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TargetProvider"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetProviderWrapper"}}}}}},"delete":{"tags":["targetProviders"],"operationId":"deleteTargetProvider","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidWrapper"}}}}}}},"/api/v1/content/targetProviders":{"get":{"tags":["targetProviders"],"operationId":"getTargetProviders","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetProviderWrapper"}}}}}},"post":{"tags":["targetProviders"],"operationId":"createTargetProvider","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TargetProvider"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetProviderWrapper"}}}}}}},"/api/v1/content/vpps/{vppTokenUuid}/licenses":{"get":{"tags":["vpp"],"operationId":"getVppLicenses","parameters":[{"name":"vppTokenUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppLicenseWrapper"}}}}}}},"/api/v1/content/vpps/tokens":{"get":{"tags":["vpp"],"operationId":"getVppTokens","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppTokenWrapper"}}}}}},"post":{"tags":["vpp"],"operationId":"createVppToken","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/VppToken"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppTokenWrapper"}}}}}}},"/api/v1/content/vpps/tokens/{uuid}":{"get":{"tags":["vpp"],"operationId":"getVppToken","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppTokenWrapper"}}}}}},"put":{"tags":["vpp"],"operationId":"updateVppToken","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/VppToken"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppTokenWrapper"}}}}}},"delete":{"tags":["vpp"],"summary":"Asynchronously deletes VPP token with all it's related data.","operationId":"deleteVppToken","parameters":[{"name":"uuid","in":"path","description":"VPP token UUID.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"list of ThreadTasks containing new task for the current operation, or already existing tasks\nblocking the current operation. The ThreadTask UUID can be used to check the outcome of the\nasynchronously running tasks.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThreadTaskWrapper"}}}}}}},"/api/v1/content/vpps/tokens/fromFile/{resourceUuid}":{"post":{"tags":["vpp"],"summary":"Creates new un-persisted VppToken from uploaded file.","operationId":"getVppTokenFromFile","parameters":[{"name":"resourceUuid","in":"path","description":"UUID of the file from which to get the VPP token.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Response contains new not persisted VPP token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppTokenWrapper"}}}}}}},"/api/v1/content/vpps/licenses/baseInfo":{"get":{"tags":["vpp"],"summary":"Returns information about the vpp assets of all the vpp tokens of the current organization.","description":"<p>\nThe query parameters to tweak the query result operate on\ncom.mwaysolutions.relution.appstore.vpp.domain.VppAsset\nentities.\n<p>\n<b>NOTICE: for backwards compatability, this endpoint will not return asset information\nabout VPP books</b>.","operationId":"getLicenseBaseInfosForAllTokens","parameters":[{"name":"limit","in":"query","description":"optional limit of the returned items, default unlimited.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"optional offset of returned items, default from first.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"optional sort order of the items, default unsorted.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","description":"`true` if interested for actual items, this is default.","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","description":"`true` if interested for unpaged count, default is `false`.","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"query result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppLicenseBaseInfoWrapper"}}}}}}},"/api/v1/content/vpps/{vppTokenUuid}/licenses/baseInfo":{"get":{"tags":["vpp"],"summary":"Query information about the vpp assets of a specific VPP accounts identified by the given VPP token uuid.","description":"<p>\nThe query parameters to tweak the query result operate on\ncom.mwaysolutions.relution.appstore.vpp.domain.VppAsset\nentities.\n<p>\n<b>NOTICE: for backwards compatability, this endpoint will not return asset information\nabout VPP books</b>.","operationId":"getLicenseBaseInfos","parameters":[{"name":"vppTokenUuid","in":"path","description":"the vpp token the licenses belong to.","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"optional limit of the returned items, default unlimited.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"optional offset of returned items, default from first.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"optional sort order of the items, default unsorted.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","description":"`true` if interested for actual items, this is default.","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","description":"`true` if interested for unpaged count, default is `false`.","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"query result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppLicenseBaseInfoWrapper"}}}}}}},"/api/v1/content/vpps/assets/baseInfo":{"get":{"tags":["vpp"],"summary":"Returns information about the vpp assets of all the vpp tokens of the current organization.","description":"The query parameters to tweak the query result operate on\ncom.mwaysolutions.relution.appstore.vpp.domain.VppAsset\nentities.","operationId":"getVppAssetBaseInfosForAllTokens","parameters":[{"name":"limit","in":"query","description":"optional limit of the returned items, default unlimited.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"optional offset of returned items, default from first.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"optional sort order of the items, default unsorted.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","description":"`true` if interested for actual items, this is default.","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","description":"`true` if interested for unpaged count, default is `false`.","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"query result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppAssetBaseInfoWrapper"}}}}}}},"/api/v1/content/vpps/{vppTokenUuid}/assets/baseInfo":{"get":{"tags":["vpp"],"summary":"Query information about the vpp assets of a specific VPP accounts identified by the given VPP token uuid.","operationId":"getVppAssetBaseInfos","parameters":[{"name":"vppTokenUuid","in":"path","description":"the vpp token the licenses belong to.","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"optional limit of the returned items, default unlimited.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"optional offset of returned items, default from first.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"optional sort order of the items, default unsorted.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","description":"`true` if interested for actual items, this is default.","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","description":"`true` if interested for unpaged count, default is `false`.","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"query result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppAssetBaseInfoWrapper"}}}}}}},"/api/v1/content/vpps/{vppTokenUuid}/users/sync":{"post":{"tags":["vpp"],"summary":"Starts an asynchronous sync of all VPP users linked to the specified token.","operationId":"syncVppUsers","parameters":[{"name":"vppTokenUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"fullSync","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"list of ThreadTasks containing new task for the current operation, or already existing tasks\nblocking the current operation. The ThreadTask UUID can be used to check the outcome of the\nasynchronously running tasks.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThreadTaskWrapper"}}}}}}},"/api/v1/content/vpps/users/sync":{"post":{"tags":["vpp"],"summary":"Starts an asynchronous sync of all VPP users of the organization's tokens.","operationId":"syncVppUsersForAllTokens","parameters":[{"name":"fullSync","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"list of ThreadTasks containing new task for the current operation, or already existing tasks\nblocking the current operation. The ThreadTask UUID can be used to check the outcome of the\nasynchronously running tasks.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThreadTaskWrapper"}}}}}}},"/api/v1/content/vpps/{vppTokenUuid}/users":{"get":{"tags":["vpp"],"operationId":"getVppUsers","parameters":[{"name":"vppTokenUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppUserWrapper"}}}}}}},"/api/v1/content/vpps/users":{"get":{"tags":["vpp"],"operationId":"getVppUsersForAllTokens","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppUserWrapper"}}}}}}},"/api/v1/content/vpps/{vppTokenUuid}/users/register":{"put":{"tags":["vpp"],"operationId":"registerVppUsers","parameters":[{"name":"vppTokenUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdSet"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkVppUserWrapper"}}}}}}},"/api/v1/content/vpps/{vppTokenUuid}/users/retire":{"put":{"tags":["vpp"],"operationId":"retireVppUsers","parameters":[{"name":"vppTokenUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdSet"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkVppUserWrapper"}}}}}}},"/api/v1/content/vpps/{vppTokenUuid}/licenses/sync":{"post":{"tags":["vpp"],"summary":"Starts an asynchronous sync of all VPP licenses linked to the specified token.","operationId":"syncVppLicenses","parameters":[{"name":"vppTokenUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"fullSync","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"list of ThreadTasks containing new task for the current operation, or already existing tasks\nblocking the current operation. The ThreadTask UUID can be used to check the outcome of the\nasynchronously running tasks.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThreadTaskWrapper"}}}}}}},"/api/v1/content/vpps/licenses/sync":{"post":{"tags":["vpp"],"summary":"Starts an asynchronous sync of all VPP licenses linked to the current organization's vpp tokens.","operationId":"syncVppLicensesForAllTokens","parameters":[{"name":"fullSync","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"list of ThreadTasks containing new task for the current operation, or already existing tasks\nblocking the current operation. The ThreadTask UUID can be used to check the outcome of the\nasynchronously running tasks.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThreadTaskWrapper"}}}}}}},"/api/v1/content/vpps/{vppTokenUuid}/licenses/baseInfo/{appUuid}":{"get":{"tags":["vpp"],"operationId":"getLicenseBaseInfo","parameters":[{"name":"vppTokenUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppLicenseBaseInfoWrapper"}}}}}}},"/api/v1/content/vpps/{vppTokenUuid}/assets/baseInfo/{appUuid}":{"get":{"tags":["vpp"],"summary":"Get information for an asset which belongs to the app with the given uuid.","operationId":"getVppAssetBaseInfo","parameters":[{"name":"vppTokenUuid","in":"path","description":"the vpp token the licenses belong to.","required":true,"schema":{"type":"string"}},{"name":"appUuid","in":"path","description":"the app uuid.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"query result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppAssetBaseInfoWrapper"}}}}}}},"/api/v1/content/vpps/{vppTokenUuid}/licenses/sync/{appUuid}":{"post":{"tags":["vpp"],"summary":"Starts an asynchronous sync VPP licenses linked to the specified app and the token.","operationId":"syncVppLicense","parameters":[{"name":"vppTokenUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"appUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"list of ThreadTasks containing new task for the current operation, or already existing tasks\nblocking the current operation. The ThreadTask UUID can be used to check the outcome of the\nasynchronously running tasks.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThreadTaskWrapper"}}}}}}},"/api/v1/content/vpps/{vppTokenUuid}/licenses/associate":{"put":{"tags":["vpp"],"operationId":"associateVppLicenses","parameters":[{"name":"vppTokenUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/VppAppAssociation"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkVppLicenseWrapper"}}}}}}},"/api/v1/content/vpps/{vppTokenUuid}/licenses/disassociate":{"put":{"tags":["vpp"],"operationId":"disassociateVppLicenses","parameters":[{"name":"vppTokenUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdSet"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkVppLicenseWrapper"}}}}}}},"/api/v1/content/vpps/config":{"get":{"tags":["vpp"],"operationId":"getVppConfig","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringWrapper"}}}}}}},"/api/v1/content/vpps/licenses":{"get":{"tags":["vpp"],"operationId":"getVppLicensesForAllTokens","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VppLicenseWrapper"}}}}}}},"/api/v1/content/workflows/steps/{workflowStepUuid}":{"get":{"tags":["workflows"],"summary":"Returns workflow step with defined number, which is assigned to a workflow.","operationId":"getWorkflowStep","parameters":[{"name":"workflowStepUuid","in":"path","description":"UUID of the workflow step that should be received.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewWorkflowStepWrapper"}}}}}},"put":{"tags":["workflows"],"operationId":"updateWorkflowStep","parameters":[{"name":"workflowStepUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReviewWorkflowStep"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewWorkflowStepWrapper"}}}}}},"delete":{"tags":["workflows"],"operationId":"deleteWorkflowStep","parameters":[{"name":"workflowStepUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidWrapper"}}}}}}},"/api/v1/content/workflows":{"get":{"tags":["workflows"],"summary":"Returns single workflow by it's UUID.","operationId":"getWorkflow","responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewWorkflowWrapper"}}}}}}},"/api/v1/content/workflows/{workflowUuid}":{"put":{"tags":["workflows"],"summary":"Updates workflow with given UUID.","operationId":"saveWorkflow","parameters":[{"name":"workflowUuid","in":"path","description":"UUID of the Workflow to update.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReviewWorkflow"}}}},"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewWorkflowWrapper"}}}}}}},"/api/v1/content/workflows/steps":{"get":{"tags":["workflows"],"operationId":"getWorkflowSteps","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewWorkflowStepWrapper"}}}}}},"post":{"tags":["workflows"],"summary":"Creates new workflow step under and assigns it to a workflow.","operationId":"createWorkflowStep","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReviewWorkflowStep"}}}},"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewWorkflowStepWrapper"}}}}}}},"/api/v1/bulk/actions":{"post":{"tags":["bulk"],"operationId":"actionsBulk","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkRequest"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequest"}}}}}}},"/api/v1/system/tasks/asyncTasks/{uuid}":{"get":{"tags":["threadTasks"],"summary":"Returns single ThreadTask by its UUID.","operationId":"getThreadTask","parameters":[{"name":"uuid","in":"path","description":"UUID of the ThreadTask to get.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"ThreadTaskWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThreadTaskWrapper"}}}}}},"put":{"tags":["threadTasks"],"summary":"Updates ThreadTask with given UUID.n <i>WARNING: a ThreadTask should be modified ONLY in case of an unexpected blocking situation (this should actually never happen under normal circumstances)</i>.","operationId":"saveThreadTask","parameters":[{"name":"uuid","in":"path","description":"UUID of the ThreadTask to update.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ThreadTask"}}}},"responses":{"default":{"description":"ThreadTaskWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThreadTaskWrapper"}}}}}},"delete":{"tags":["threadTasks"],"summary":"Deletes a finished ThreadTask with given UUID.","operationId":"deleteThreadTask","parameters":[{"name":"uuid","in":"path","description":"UUID of the ThreadTask to delete.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"StringWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringWrapper"}}}}}}},"/api/v1/system/tasks/asyncTasks":{"get":{"tags":["threadTasks"],"summary":"Gets all ThreadTask objects matching the criteria and user permission.","operationId":"getThreadTasks","parameters":[{"name":"limit","in":"query","description":"optional limit of the returned items, default unlimited.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"optional offset of returned items, default from first.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"optional sort order of the items, default unsorted.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","description":"`true` if interested for actual items, this is default.","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","description":"`true` if interested for unpaged count, default is `false`.","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"ThreadTaskWrapper","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThreadTaskWrapper"}}}}}}},"/api/v1/dashboard/widgets":{"get":{"tags":["dashboard"],"operationId":"getDashboardWidgets","parameters":[{"name":"widget","in":"query","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringWidgetSummaryMapWrapper"}}}}}}},"/api/v1/system/featureToggles":{"get":{"tags":["featuretoggles"],"operationId":"getToggleableFeatures","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToggleableFeatureWrapper"}}}}}}},"/api/v1/system/messaging/notifications":{"get":{"tags":["notifications"],"operationId":"getPortalNotifications","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalNotificationWrapper"}}}}}}},"/api/v1/system/messaging/push/apnsProviders":{"get":{"tags":["push"],"summary":"Returns APNS provider defined for logged user organization.","operationId":"getApnsProvider","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApnsProviderWrapper"}}}}}},"put":{"tags":["push"],"summary":"Creates or updates APNS provider for logged user organization.","operationId":"saveApnsProvider","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"passphrase":{"type":"string"},"certificate":{"$ref":"#/components/schemas/FormDataBodyPart"}}}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApnsProviderWrapper"}}}}}},"delete":{"tags":["push"],"summary":"Deletes or updates APNS provider for logged user organization.","operationId":"deleteApnsProvider","responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/api/v1/system/messaging/push/apnsProviders/mdm":{"get":{"tags":["push"],"operationId":"getApnsMdmProvider","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApnsProviderWrapper"}}}}}},"put":{"tags":["push"],"operationId":"saveApnsProviderMdm","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"passphrase":{"type":"string"},"certificate":{"$ref":"#/components/schemas/FormDataBodyPart"}}}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApnsProviderWrapper"}}}}}},"delete":{"tags":["push"],"operationId":"deleteApnsMdmProvider","responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/api/v1/system/messaging/push/devices":{"get":{"tags":["push"],"summary":"Returns registered devices.","operationId":"getPushDevices","parameters":[{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushDeviceWrapper"}}}}}},"post":{"tags":["push"],"operationId":"registerDeviceForPushNotifications","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushDevice"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushDeviceWrapper"}}}}}}},"/api/v1/system/messaging/push/devices/{deviceUuid}":{"get":{"tags":["push"],"summary":"Gets the device with the given uuid.","operationId":"getPushDevice","parameters":[{"name":"deviceUuid","in":"path","description":"the device uuid.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"the device with the given uuid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushDeviceWrapper"}}}}}},"put":{"tags":["push"],"summary":"Save the updated device with the given uuid.","operationId":"savePushDevice","parameters":[{"name":"deviceUuid","in":"path","description":"the device's uuid.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushDevice"}}}},"responses":{"default":{"description":"the saved device.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushDeviceWrapper"}}}}}}},"/api/v1/security/registrations/informations":{"get":{"tags":["registrationInformation"],"operationId":"getRegistrationInformations","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"field","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"getItems","in":"query","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistrationInformationResult"}}}}}},"post":{"tags":["registrationInformation"],"operationId":"saveRegistrationInformation","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegistrationInformation"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistrationInformationResult"}}}}}}},"/api/v1/security/registrations/informations/{uuid}":{"get":{"tags":["registrationInformation"],"operationId":"getRegistrationInformation","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistrationInformationResult"}}}}}},"put":{"tags":["registrationInformation"],"operationId":"updateRegistrationInformation","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegistrationInformation"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistrationInformationResult"}}}}}},"delete":{"tags":["registrationInformation"],"operationId":"deleteRegistrationInformation","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringWrapper"}}}}}}},"/api/v1/security/registrations":{"post":{"tags":["registration"],"summary":"Creates a new account by adding an organization and the corresponding organization administrator.","operationId":"createAccount","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Account"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidWrapper"}}}}}}},"/api/v1/system/files/info":{"get":{"tags":["files"],"summary":"Get filtered resources from all uploaded resources.","operationId":"getResources","parameters":[{"name":"limit","in":"query","description":"- paging limit per page.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"- page offset.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"- sort order.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"getItems","in":"query","description":"- boolean flag if return also result, default value TRUE.","schema":{"type":"boolean","default":true}},{"name":"getNonpagedCount","in":"query","description":"- boolean flag if return also nonpaged count, dafault value FALSE.","schema":{"type":"boolean","default":false}}],"responses":{"default":{"description":"Result of Resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceWrapper"}}}}}}},"/api/v1/system/files/{uuid}":{"get":{"tags":["files"],"summary":"Returns file with given UUID (no file content is returned).","operationId":"getFile","parameters":[{"name":"uuid","in":"path","description":"UUID of the File.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Result with Resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceWrapper"}}}}}},"post":{"tags":["files"],"summary":"Deprecated Updates file with given UUID.","description":"n\nUse updateResourceContent PUT:files/{uuid}/content.","operationId":"updateFileContent","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FileContent"}}},"required":true},"responses":{"default":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceWrapper"}}}}}},"delete":{"tags":["files"],"summary":"Deletes file with given UUID.","operationId":"deleteFile","parameters":[{"name":"uuid","in":"path","description":"UUID of the File to delete.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Result with uuid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringWrapper"}}}}}}},"/api/v1/system/files":{"post":{"tags":["files"],"summary":"Creates new file in Resources.","operationId":"setFileContent","parameters":[{"name":"appUuid","in":"query","schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FileContent"}}},"required":true},"responses":{"default":{"description":"Result of Resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceWrapper"}}}}}}},"/api/v1/system/files/{uuid}/content":{"get":{"tags":["files"],"summary":"Returns content of file with given UUID.","operationId":"getFileContent","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"itmsSessionId","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"File content.","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}}}},"put":{"tags":["files"],"summary":"Update resource content.","operationId":"updateResourceContent","parameters":[{"name":"uuid","in":"path","description":"- Resource uuid.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FileContent"}}},"required":true},"responses":{"default":{"description":"Result with updated Resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceWrapper"}}}}}}},"/api/v1/system/files/file/{scope}/{category}":{"post":{"tags":["files"],"summary":"Upload file(s) content with categorization via scope and category.","description":"Used\nmore-less by PROSERVICES projects. n\nn\nRequire role ROLE_APP_CREATOR | ROLE_MDM_EDITOR | ROLE_SETTING_CREATOR\nn\nn\nSuch resource can be accessible via files/file/scope/category/filename\nalso for\nanonymous usern\nn\nn\nDon not use this endpoint for secure data like appstore applications !!!.","operationId":"uploadFile","parameters":[{"name":"scope","in":"path","description":"- association of resource to application, project or organization scope.","required":true,"schema":{"type":"string"}},{"name":"category","in":"path","description":"- custom categorization of resources inside scope.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FileContent"}}},"required":true},"responses":{"default":{"description":"Result of uploaded resources.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceWrapper"}}}}}}},"/api/v1/system/files/zip/{scope}/{category}":{"post":{"tags":["files"],"summary":"Import resources from zip file.n Resources are extract from zip and upload separately under provided scope and category.","description":"If zip contains also\nfolders, then folder name is applied like new category for folder files.\nMostly used for quick import of all project resources in one request.\nn\nn\nSuch resources could be accessible via /scope/category/filename also for\nanonymous user\nn\nn\nDon not use this Endpoint for secure data like appstore applications !!!.","operationId":"importZippedResources","parameters":[{"name":"scope","in":"path","description":"- association of resource to application, project or organization scope.","required":true,"schema":{"type":"string"}},{"name":"category","in":"path","description":"- custom categorization of resources inside scope.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FileContent"}}},"required":true},"responses":{"default":{"description":"Result of uploaded resources.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceWrapper"}}}}}}},"/api/v1/system/files/file/{scope}/{category}/{name}":{"get":{"tags":["files"],"summary":"Return file content by file name or Not Modified return code if is implemented caching on client site.n Caching can be based on next headers:n n - IF_MODIFIED_SINCE, n - IF_NONE_MATCH n Example of use:n http://host/api/v1/system/files/file/company/pdf/somefile.pdfn http://host/api/v1/system/files/file/fairname/images/somefile.jpgn n In response is always submit ETAG header with lastModificationDate information.","description":"Use this info on client site for caching locally resources.","operationId":"getFileContentByName","parameters":[{"name":"scope","in":"path","description":"- association of resource to application, project or organization scope.","required":true,"schema":{"type":"string"}},{"name":"category","in":"path","description":"- custom categorization of resources inside scope.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"- filename.","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"StreamingOutput of file content if found, otherwise throw. \nRelutionException with error code FILE_DOES_NOT_EXIST.","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/system/files/info/{scope}":{"get":{"tags":["files"],"summary":"Provide information about all resources uploaded under project, application or organization scope.","operationId":"getResourcesByScope","parameters":[{"name":"scope","in":"path","description":"- association of resource to application, project or organization scope.","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"- paging limit per page.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"- page offset.","schema":{"type":"integer","format":"int32"}},{"name":"sortOrder","in":"query","description":"- sort order.","schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"ge
[...]
